@font-face {
    font-family: joker-title;
    src: url(../fonts/IndigoJoker-y0Zq.ttf);
}
@font-face {
    font-family: joker-text;
    src: url(../fonts/Joker-3zl9X.ttf);
}

.j-title {
    font-family: joker-title;
    letter-spacing: 16px;
    color: brown;
}
.main h3 {
    font-weight: bolder;
}
.main a {
    color: #fdcb6e;
    text-decoration: none;
}
.main a:hover {
    color: #e17055;
    text-decoration: none;
}